body{
    background-image: url("https://i.pinimg.com/564x/65/d8/e8/65d8e8f06bb8a9436a6cb01d4a8e525b.jpg");
    background-size: cover;
    font-family: 'Major Mono Display', monospace;
    color: rgb(255, 200, 37);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment:fixed;
    margin: 0;
    display: flex;
    box-sizing: border-box;
}
.content{
    float: left;
    width: 100%;
    display:table;
    flex-direction: column;
    align-items: center;
}
#first_page{
    display: flex;
    background:linear-gradient(rgb(0, 5, 47), rgb(0, 1, 19));
    width: 100%;
    text-align: center;
    margin-top: 27vh;
    margin-bottom: 50vh;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-evenly;
}
.page{
    position: relative;
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center;
}
.Title{
    font-size: 72px;
    font-family: 'Major Mono Display', monospace;
    background: linear-gradient(goldenrod, yellow, gold, rgb(198, 155, 0));
    -webkit-background-clip: text;
    color: transparent;
}
.text{
    font-size: 16px;
    font-family: 'Major Mono Display', monospace;
    margin-top: 25px;
    color: gold;
}
@keyframes fadeInOut {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
.animate01{
    -webkit-animation: fadeInOut 10s;
   animation: fadeInOut 10s;
   animation-iteration-count: infinite;
}
#index_click{
    padding: 5px;
    padding-right: 20px;
    max-width: 20px;
    animation-name:fadeIn;
    animation-duration:2s;
    position: sticky;
    top: 0;
}
@keyframes fadeIn {
    0% {opacity:0;}
    50%{opacity:0.5;}
    100% {opacity:1;}
}
#index{
    position: sticky;
    top:50px;
    font-family: majormono;
}
.indexbox{
    background-color: black;
    padding: 10px;   
    position: sticky;
    top:0;
}
.box{
    padding:30px;
    position: absolute;
    right: 20px;
}
a{
    padding: 10px;
    color: gold;
    text-decoration:none;
    font-family: 'Major Mono Display', monospace;
}
.H1{
    margin-left: 0px;
}
.H2{
    margin-left: 10px;
}
.ctx{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(0, 4, 28,0.7);
    text-align: left;
}
.container {
    width: 200px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
  }
  .rp {
    left: 0;
    top: 0;
    position: absolute;
    backface-visibility: hidden; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }

  .back {
    transform: rotateY(180deg);
  }
  .flip {
    transform: rotateY(180deg);
  }
#roar20{
    opacity:1;
    transition: opacity 1s; 
}
#roar20.fadeOut {
    opacity:0;
}
#source{
    margin-bottom: 50px;
}
.card-wrap{
    width:320px;
    height:448px;
    position:relative;
    margin: 20px;
}
.card{
    position:absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition:0.5s all ease;
    box-shadow:0px 0px 10px rgba(10,10,0.8);
}
.card:hover{
    transform:rotateY(360deg);
}
.card-front{
    border-radius:5px;
    position:absolute;
    width:100%;
    height:100%;
    font-size:1.5rem;
    backface-visibility:hidden;
 }
.card-back{
    border-radius:5px;
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    font-size:1.5rem; 
    background:url("https://m.media-amazon.com/images/M/MV5BMjMyNzg5NDQzN15BMl5BanBnXkFtZTcwNjYwNTMxOQ@@._V1_.jpg") center top repeat;
    transform:rotateY(180deg);
}